*{
    padding: 0;
    margin: 0;
  
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    align-items: center;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border-bottom-color:yellow;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    margin-bottom:0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}
main{
    background-color: yellow;
    padding: 65px;
   
  
}
.flex {
    display: flex;
    margin-top: 0;
}
.col30{
    width: 30%;
}
.col35{
    width: 35%;
}
.col10{
    width: 10%;
}
.col25{
    width: 25%;
}
.col65{
    width: 65%;
}
.col10 >div >a>img{
    width: 100%;
    padding: 0px 0px 0px 60px;
}
div>a>h1{
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    font-size: 3rem;
    margin: 0;  
}
div>a{
    text-decoration: none;
}

ul >li{
    list-style-type: none;    
}
ul.flex >li>a{
    text-decoration: none;
   color: white;
   
   padding: 0px 0px 0px 0px;    
}
span{
    font-size: 20px;
}
ul>li>a{
    text-decoration: none;
    color: white;
}
.language{
    /* padding: 0px 0px 20px 0px; */
}
.subject{
align-items: center;
   padding: 40px;

}
.subject:hover{
    background-color:  rgb(75, 14, 132) ;
}
.subject:hover > a >*{
    color:yellow;
}
ul.menu.option.sub>li{
    padding: 15px;
    padding-left: 20px;
    border-bottom: 1px solid purple;
    text-align: center;

}
.option{
    display: none!important;
    position: absolute;
    background-color: blueviolet;

}
.subject:hover .option{
    display: block !important;   
}
.option::after{
    content: " ";
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent yellow transparent;
    position: absolute;
    bottom: 100%;
    left: 20%;
   
}
.menu.option.sub{
    margin-top: 38px;
    margin-left: -38px;
    border-radius: 10px 10px;
    z-index: 1;
 
}
.menu.option.sub>li:hover{
    background-color: rgb(75, 14, 132);
}
.menu.option.sub>li:hover >a{
    color: yellow;
}
nav{
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    
}
nav >div.flex{
    align-items: center;
    
}
div.flex.col25>div{
    font-weight: 500;
    text-align: center;
    width: 30%;
}
div.flex.col35>div{
    text-align: center;

    font-weight: 500;
    width: 20%;
}
div.flex.col35>div:last-child{
    width: 60%;
}
div.col35.nav{
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    text-align: center;
    padding: 5px 0px 0px 0px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
}
div.col35.nav>a:hover{
    background-color:rgb(75, 14, 132) ;
    color: yellow; 
}
div.col35.nav>i:hover{
    color: yellow;
}